
.login_container{
  /* height: 100%; */
  background: url("../../../../public/Images/background3.jpg");
  background-size: cover;
}
.login_grid {
    height: 100%;
    display: grid;   
    align-items: stretch;
    grid-template-columns: 3fr 2fr;
  }
.grid_item1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: url("../../../../public/Images/background.jpg"); */
  /* background-size: cover; */
  background-color: rgba(0, 0, 0, 0.1);
}


.grid_item2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: black; */
  color: white;
  backdrop-filter: blur(8px);
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}
h5{
  font-size: 1rem;
  font-weight: 400;
}
.signup_card{
}
.create_acc_btn{
  padding: .8rem 1rem;
  color: white;
  background-color: #1d9bf0;
  font-size: .9rem;
}
.signin_btn{
  border: 1px solid #1d9bf0;
  padding: .8rem 1rem;
  color: #1d9bf0;
  background:none;
  font-size: 1rem;

}
.form{
  width: 50%;
  margin-bottom: 5rem;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 2rem;
  width: 100%;
  cursor: pointer;
}
.g_signup{
  padding: .7rem 1rem;
  width: 100%;
  font-size: .9rem;
  color: grey;

}
.google_icon{
  height: 1.2rem;
  margin-right: 1rem;
}
.line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 1.5rem;
}
h1{
font-size: 3rem;
margin-bottom: 5rem;
font-family: "Sacramento", cursive;
font-style: normal;
font-weight: 400;
}
.logo_name{
  color: white;
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}
.term_condition_para{
  font-size: 10px;
  color: grey;
}
.icon{
  height: 10rem;
}
.or{
  margin: 0px 6px 5px 6px;
}

.login_container{
    /* background-color: beige; */
    height: 100vh;

 } 
 @media only screen and (max-width: 1250px) {
  .login_container {
    padding: 2rem 4rem;
    height: auto; /* Adjusted to auto to let the height be determined by the content */
  }
 }


 @media only screen and (max-width: 1000px) {

  .login_grid {
    grid-template-columns: 1fr; 
  }

  .icon{
    margin: 1rem;
    height: 3rem;
  }

  .grid_item1{
    display: flex;
    justify-content: start;
    align-items: center;
  }
 }
 @media only screen and (max-width: 550px) {
   .login_container{
    padding: 2rem 1rem;
    height: 100%;
   }
   h1{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: "Sacramento", cursive;
    font-style: normal;
    font-weight: 400;
    }
    .logo_name{
      margin: 0px;
      /* height: 3rem; */
    }
    .form{
      width: 100%;
    }
    .grid_item2{
      padding:1rem;
    }
    .grid_item1{
      display: flex;
      justify-content: center;
      align-items: center;
    }
 }
