.addRecipe_container{
    display: flex;
    flex-direction: column;
    /* padding: 0rem 1rem; */
    background: url("../../../public/Images/add_recipe_back3.jpg");
    background-size: cover;
    height: 100%;
}
.container{
    overflow-y: auto;
    backdrop-filter: blur(5px);
    padding: 0rem 1rem;
    /* background: #ffffffb8; */
    height: 100%;
}
.titleAndInf_cont{
    display: flex;
    flex-direction: column;
}
.titleAndInf{
    display: flex;
    flex-direction: column;
}
.ingreAndSteps_cont{
    display: flex;
    flex-direction: row;
}
.steps_cont{
    display: flex;
    flex-direction: column;
}
.ingredient_cont{
    padding: 1rem;
    background: #dddddd4f;
}
.addBtn_container{
display: flex;
justify-content: end;
padding: .5rem .5rem;
}
.saveBtn_container{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}