.recipe_container{
    /* padding: 1rem; */
    height: 100%;
    background: #f7f7f7;
}
.upper_page{
    height: 60%;
    background: #272525;
    display:flex;
    justify-content: center;
    align-items: center;
}
.recipes_list{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}