.Recipe_card{
    /* background-color:rgb(248, 248, 239); */
    margin: 2rem !important;
    display: flex;
    height: 12rem;
    margin: 5px;
    width: 12rem;
    border-radius: 40px;
    background: #f0f0f0;
    box-shadow:  25px -20px 49px #dfdfdf,
                -25px 20px 49px #ffffff;
}
.description{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.delete_btn_container{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 5px 5px 0px 5px;
}

.title{
    color: rgb(139, 139, 139);
    margin:0px;
}
.view_btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #ffffff;
    padding: 1rem 3rem;
    color: grey;
}
/* ----------------------------------- */

.firstName{
    color: orangered;
}
.recipeinfo_maincontainer{
    background: url("../../public/Images/food_back.jpg");
    background-size: cover;  
    height: 100%;
    padding: 1rem 4rem;
    overflow-y: auto;
}
.recipeinfo{
    /* display: grid; */
    /* border: 1px solid grey; */
    height: 90%;
    /* grid-template-columns: 1fr 2fr; */
    /* grid-template-rows: 1fr 3fr; */
    overflow-y: auto;
    /* backdrop-filter: blur(25px); */
    background: rgba(26, 26, 26, 0.795);
    border-radius: 1rem;
}

.item{
    /* border: 1px solid grey; */
    /* height: 100%; */
    padding: 1rem;
}

.recipe_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dbdbdb;

    /* background: antiquewhite; */
}
.recipe_title a{
    text-decoration: none;
    color: rgb(255, 135, 36);
}
.recipeinfo h4{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #dcdcdc;
    width: 100%;
    background: rgb(226, 226, 221);
    padding: 15px;
    border-radius: 1rem;
}

.recipe_title p{
    font-size:smaller;
    color: #d3d3d3;
}
.recipe_ingridient{
    background: rgb(243, 238, 227);
    color: #c8c8c8;
    font-size: 13px;
}
.ing_table{
    width: 100%;
}
.ing_table td{
    padding: .2rem 1rem;
    /* width: 100%; */
}


.ing_table  tr {
    padding: 0 1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 2rem;
}

.ing_table  tr:last-of-type {
    border-bottom: 2px solid rgba(43, 43, 43, 0.274);;
}
.ing_table td:nth-of-type(even) {
    background-color: rgb(253, 253, 253);;
}
.ing_title{
    background: rgb(212, 212, 199);
    padding: .5rem 1rem;
    margin: 0;
}
.recipe_inf{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    color: rgb(216, 216, 216);
    /* background: rgb(226, 226, 221); */
}
.recipe_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_inf h5{
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 100;
    color: #e2e2e2;
    width: 100%;
}