.Recipe_card{
    background-color:rgb(73, 73, 73);
    margin: 5px 0px;
    /* border-radius: 1rem; */
    display: flex;
    height: 4rem;
    margin: 5px;
}
.description{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.img_container{
    border-radius: 5rem;
    overflow: hidden; /* Ensures the clipped content doesn't overflow */
    height: -webkit-fill-available; /* or any desired height */
}
.img{
    width: 100%;
    height: 100%;
    clip-path: inset(10px 10px 10px 10px);
}
.title{
    color: rgb(184, 184, 184);
    margin-right: 5px;
}
.view_btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background: #ffffff;
}
.checkbox_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 750px) {
    .title{
        font-size: x-small;
    }
}
