.recipeinfo{
    display: grid;
    /* border: 1px solid grey; */
    height: inherit;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.item{
    /* border: 1px solid grey; */
    height: 100%;
    padding: 1rem;
}
.rec_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.recipe_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff5300;
    background: antiquewhite;
}
.recipe_title a{
    text-decoration: none;
    color: brown;
}
.recipe_title h4{
    margin: 0px;
    font-size: 1.8rem;
}
.recipe_title p{
    font-size:smaller;
}
.recipe_ingridient{
    background: antiquewhite;
    color: #ff5555;
    font-size: 15px;
}
.recipe_ingridient td{
    padding: 0 1rem;
}
.recipe_inf{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    color: chocolate;
}